.revezone-layout {
  width: 100%;
  height: 100%;

  .ant-layout {
    height: 100%;
  }

  .revezone-topleft-toolbar {

    .os-is-macos.is-in-revezone-native-app & {
      position: relative;
    }

    position: absolute;
    right: 0;
    z-index: 100;
    display: flex;
    flex-direction: row-reverse;
    height: 2rem;
    font-size: 16px;
    -webkit-user-select: none;
    -webkit-app-region: drag;

    .panel-left-button {
      margin: 0.3rem 0.6rem 0 0;
      -webkit-app-region: no-drag;
    }
  }



  .ant-menu-title-content {
    flex: auto;
  }
}

/* Dark theme styles for resizable layout */
.theme-dark .revezone-layout {
  background-color: #141414;
}

.theme-dark .revezone-layout .ant-layout {
  background-color: #141414;
}

.theme-dark .revezone-layout .bg-gray-100 {
  background-color: #2a2a2a;
}

.theme-dark .revezone-layout .text-gray-500 {
  color: rgba(255, 255, 255, 0.45);
}

.theme-dark .revezone-layout .border-t {
  border-top-color: #404040;
}
